{% extends 'base.html' %}


{% block title %}Home{% endblock title %}


{% block content %}
    <h1>Sistema Integral de Información de la UTTlax</h1>
    <h2>SIIUTTlax</h2>
    <p>Colaboración de Juan👍</p>
    <p>Colaboración de Dania</p>
    <p>Caboracion de Miguel Angel</p>
    <h3>Un trabajo en equipo</h3>


    <div class="menu">
        
        <h2>Inicio</h2>
        <h2>Carreras</h2>
        <h2>Usuarios</h2>
        <h2>Periodo</h2>

        <h1>area de Tablas </h1>
    </div>
{% endblock content %}
    
    