.table-container {
    margin: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    padding: 12px 15px;
    text-align: left;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}
h1 {
    text-align: center;
    width: 100%;
    color: #333;
}

h2{
    text-align: center;
}

.center {
    text-align: center;
}

.section {
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

ul{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}