.table-container {
    margin: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    padding: 12px 15px;
    text-align: left;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}
h1 {
    text-align: center;
    width: 100%;
    color: #333;
}

h2{
    text-align: center;
}

.center {
    text-align: center;
}

.section {
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    /* border: solid red; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.navUser{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
}

.navUser a{
    padding: 12px;
    background-color: var(--orange-primary);
    border-radius: 12px;
    color: var(--bg-1);
}

.navUser li{
    text-align: center;
    padding: 15px;
    border-radius: 12px;
    cursor: pointer;
}

.navUser a:hover{
    background-color: var(--orange-secundary);
}

/* .rojo{
    background-color: red;
} */




ul{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

li, a{
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

.container{
    display: flex;
    justify-content: center;
}

.registro{
    max-width: 800px;
    margin: 20px auto;
    padding: 70px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.registro h2{
    text-align: center;
    color: #333;
  }

  .helptext{
    font-weight: 700;
    color:#333;
  }

  .registro input, .registro select, .registro textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .registro .log {
    display: block;
    width: 30%;
    padding: 10px;
    background-color: #006a00;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: 20px auto 0; 
  }
