bodys {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.containers {
    text-align: center;
}

.image-containers {
    display: inline-block;
}

.image-containers img {
    max-width: 500px; 
    height: auto; 
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
}