{% extends 'semester/inicio.html' %}

{% block title %}Semestres{% endblock title %}

{% block tables %}

<title>Tabla de Semestres</title>
<div class="section">
    <h1 class="center">Tabla de semestres</h1>
    <table class="center">
        <thead>
            <tr>
                <th>Matrícula</th>
                <th>Nombre</th>
                <th>Carrera</th>
                <th>Generación</th>
                <th>Cuatrimestre</th>
                <th>Grupo</th>
            </tr>
        </thead>
        <tbody>
            {% for semester in semester %}
                <tr>
                    <td>{{ semester.matricula }}</td>
                    <td>{{ semester.nombre }}</td>
                    <td>{{ semester.carrera }}</td>
                    <td>{{ semester.generacion }}</td>
                    <td>{{ semester.cuatrimestre }}</td>
                    <td>{{ semester.grupo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock tables %}