{% extends 'users/usuarios.html' %}


{% block title %}Alumnos{% endblock title %}

{% block tables %}

<title>Tabla de Directores</title>
<div class="section">
    <h1 class="center"> Tabla de Directores</h1>
    <table class="center">
        <thead>
            <tr>
                <th>N. empleado</th>
                <th>Nombre</th>
                <th>Carreras</th>
            </tr>
        </thead>
        <tbody>
            {% for director in directores %}
                <tr>
                    <td>{{ director.n_empleado }}</td>
                    <td>{{ director.nombre }}</td>
                    <td>{{ director.departamento }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock tables %}